<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'game', media: 'all' %>
  <%= javascript_include_tag 'game' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <p>You chose:</p>
    <%= @user_move %>

    <p>Computer chose:</p>
    <%= @computer_move %>

<p>  <% if @user_move == @computer_move %>
  You're tied!!
<% elsif @user_move == "paper" && @computer_move == "rock" %>
  You win!!
<% elsif @user_move == "paper" && @computer_move == "scissors" %>
  You lose!!
<% end %>
</p>

</body>
</html>
